*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --black: hsl(234, 17%, 12%);

  --ff: "Red Hat Text", sans-serif;
}

body {
  background-color: var(--Very-dark-blue);
  background-image: url(../images/pattern-hills.svg),
    url(../images/bg-stars.svg);
  background-repeat: no-repeat, repeat;
  background-position: bottom;
  background-size: contain;
  color: var(--White);
  font-family: var(--ff);
  font-size: 14px;
  font-weight: 700;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 30px;
}

h1 {
  font-size: 36px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  text-align: center;
  margin-block-start: 20px;
}

.countdown {
  display: flex;
  gap: 30px;
}

@media (max-width: 500px) {
  .countdown {
    gap: 10px;
  }
}

.dot-left {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: var(--black);
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}

.dot-right {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: var(--black);
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}

.countdown .numbers::before {
  content: "";
  display: block;
  width: 110px;
  height: 50px;
  background-color: hsla(235, 15%, 14%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.countdown .numbers {
  max-width: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 100px;
  background-color: var(--Dark-desaturated-blue);
  color: var(--Soft-red);
  border-radius: 7px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.countdown .numbers h2 {
  font-size: 32px;
  z-index: 9999;
}

@media (max-width: 500px) {
  h1 {
    text-align: center;
  }
  .countdown {
    justify-content: center;
    align-items: center;
  }
  .countdown .numbers::before {
    width: 60px;
    height: 50px;
  }
  .countdown .numbers {
    max-width: 300px;
    width: 60px;
    height: 100px;
  }
}

.icons {
  margin-block-start: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icons img {
  padding: 5px;
}

.icons img:hover {
  background-color: var(--Soft-red);
}
